.general-button{

  width: 250px;
  height: 70px;
  background: #fbfbfb;
  border: 1px solid #bbb;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 150px auto 0 auto;
  background-color: #eee;
  
  button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0;

    &:focus {
      outline: 0;
    }

    &:hover {
      box-shadow: -2px 2px 10px rgb(155, 155, 155) !important;
      cursor: pointer;
    }
  }

  span {
    font-weight: 500;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .general-button {
    margin-top: 200px;
  }
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 600px) {
  .general-button {
    margin-top: 700px;
  }
}