.menu {

  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  transition: 0.5s;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    height: 100%;

    .menu-button {
      
      color: white;
      margin: auto;
      transition: color 0.2s linear;
      border-bottom: 2px solid rgba(232, 103, 107, 0);
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        border-bottom: 2px solid #e8676b;
      }
    }
  }

  ul:nth-child(2){
    width: 100px;
    li {
      width: 45px;
      margin: auto 10px;
      &:hover {
        cursor: pointer;
      }
      img {
        padding-bottom: 5px;
        border-bottom: 4px solid rgba(0,0,0,0);
        &.active {
          border-color: #e8676b;
        }
      }
    }
  }
  
  &.scrolled-down {
    transition: 0.5s;
    background-color: white;
    box-shadow: 0 0 7px 0px #000;
    
    ul .menu-button {
      color: black;
    }
    ul:nth-child(2) li img.active {
      transition: 0.5s;
      border-color: black;
    }
  }
}