.buttons-row {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #e8676b;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  a {
    background-color: #00000000;
    border: none;
    margin: 0 50px;
    &:focus {
      outline: 0;
    }
  }
  
  img {
    padding: 10px;
    transition: 0.15s;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      cursor: pointer;
    }
    
  }

}

@media screen and (max-width: 1200px) {
  .buttons-row {
    height: 70px;
  }
}

@media screen and (max-width: 900px) {
  .buttons-row {
    height: 55px;
  }
}

@media screen and (max-width: 600px) {
  .buttons-row a {
    margin: 0 20px;
  }
}