.header {
  height: 500px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    height: 450px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    height: 350px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 350px;
  }
}