.card, .general-button, .short-description {
  animation: content 0.6s;
}

@keyframes content {
  from {
    transform: translate(0, 40px);
  }
  to {
    transform: translate(0, 0);
  }
}

.menu {
  animation: menu 0.7s;
}

@keyframes menu {
  0% {
    transform: translate(0, -80px);
  }
  60% {
    transform: translate(0, -80px);
  }
  100% {
    transform: translate(0, 0);
  }
}