// Import files

@import '_header';
@import '_loader';
@import '../components/Menu/_menu';
@import '../components/Card/_card';
@import '../components/Button/_generalbutton';
@import '../components/Skills/_skills';
@import '../components/Timeline/_timeline';
@import '../components/Card/SocialButtons/_socialbuttons';