.header {
  height: 500px;
  overflow: hidden; }
  .header img {
    width: 100%; }

.loader-container {
  top: 250px;
  position: relative;
  display: flex;
  justify-content: center; }
  .loader-container .loader {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px; }
    .loader-container .loader div {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #000;
      animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    .loader-container .loader div:nth-child(1) {
      left: 6px;
      animation: loader1 0.6s infinite; }
    .loader-container .loader div:nth-child(2) {
      left: 6px;
      animation: loader2 0.6s infinite; }
    .loader-container .loader div:nth-child(3) {
      left: 26px;
      animation: loader2 0.6s infinite; }
    .loader-container .loader div:nth-child(4) {
      left: 45px;
      animation: loader3 0.6s infinite; }

@keyframes loader1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes loader3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes loader2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.menu {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  transition: 0.5s; }
  .menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    height: 100%; }
    .menu ul .menu-button {
      color: white;
      margin: auto;
      transition: color 0.2s linear; }
      .menu ul .menu-button:hover {
        color: #e8676b;
        cursor: pointer;
        border-bottom: 2px solid #e8676b; }
  .menu ul:nth-child(2) {
    width: 100px; }
    .menu ul:nth-child(2) li {
      width: 45px;
      margin: auto 10px; }
      .menu ul:nth-child(2) li:hover {
        cursor: pointer; }
      .menu ul:nth-child(2) li img {
        padding-bottom: 5px;
        border-bottom: 2px solid rgba(0, 0, 0, 0); }
        .menu ul:nth-child(2) li img.active {
          border-color: white; }
  .menu.scrolled-down {
    transition: 0.5s;
    background-color: white;
    box-shadow: 0 0 20px 4px black; }
    .menu.scrolled-down ul .menu-button {
      color: black; }
    .menu.scrolled-down ul:nth-child(2) li img.active {
      transition: 0.5s;
      border-color: black; }

.card {
  width: 900px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 200px;
  background-color: #fbfbfb;
  box-sizing: border-box;
  box-shadow: 0 0 7px 0 #000;
  padding-bottom: 200px;
  padding-top: 200px; }
  .card .upper img {
    position: absolute;
    margin: auto;
    margin-top: 25px;
    top: 0;
    bottom: 0;
    left: 25px;
    border: 1px solid #6662; }
  .card .upper .card-info {
    position: absolute;
    width: 400px;
    margin: auto;
    height: 300px;
    left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 20px; }
    .card .upper .card-info span {
      display: flex;
      justify-content: flex-start; }
      .card .upper .card-info span div {
        font-weight: 700;
        width: 150px;
        min-width: 150px; }

/*

const styles = {
  position: 'absolute',
  width: '50%',
  height: '68%',
  right: '5%',
  top: '10%',
  display: 'flex',
  flexDirection: 'column',
  justifyContent: 'space-evenly'
  
}
    position: absolute;
    width: 300px;
    margin: auto;
    height: 300px;
    left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 20px;
*/
.general-button {
  width: 250px;
  height: 70px;
  background: #fbfbfb;
  border: 1px solid #bbb;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 150px auto 0 auto; }
  .general-button button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0; }
    .general-button button:focus {
      outline: 0; }
    .general-button button:hover {
      box-shadow: -2px 2px 10px #9b9b9b !important;
      cursor: pointer; }
  .general-button span {
    font-weight: 500;
    font-size: 1rem; }

.skills {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .skills h2 {
    margin-bottom: 5rem;
    font-size: 2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid #e8676b;
    width: 130px;
    text-align: center; }
  .skills div {
    width: 150px;
    height: 150px;
    margin-top: 0;
    color: #1d2949;
    font-weight: 700;
    margin-top: -60px; }
    .skills div:nth-child(3n + 1) {
      align-self: flex-start; }
      .skills div:nth-child(3n + 1) span {
        position: absolute;
        top: calc(50% + -0.5rem);
        left: 100%;
        width: 300px;
        text-align: start; }
    .skills div:nth-child(3n + 2) {
      align-self: center; }
      .skills div:nth-child(3n + 2) span {
        position: absolute;
        top: calc(50% + -0.5rem);
        left: 100%;
        width: 300px;
        text-align: start; }
    .skills div:nth-child(3n + 3) {
      align-self: flex-end; }
      .skills div:nth-child(3n + 3) span {
        position: absolute;
        top: calc(50% + -0.5rem);
        left: 100%;
        width: 300px;
        text-align: start; }

.timeline-holder {
  width: 100%;
  display: flex;
  justify-content: center; }
  .timeline-holder h2 {
    margin-bottom: 5rem;
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 2px solid #e8676b;
    width: 160px;
    text-align: center;
    height: 2rem; }
  .timeline-holder .timeline {
    width: 10px;
    height: 1000px;
    background-color: #0e4970; }
    .timeline-holder .timeline::before {
      content: '';
      position: relative;
      border-color: #0e4970;
      border-style: solid;
      border-width: 10px 0 0 10px;
      height: 30px;
      width: 30px;
      top: 10px;
      left: -15px;
      margin-top: -1em;
      transform: rotate(45deg);
      display: inline-block;
      border-radius: 10px;
      border-top-left-radius: 10px; }

.buttons-row {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #e8676b;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .buttons-row a {
    background-color: #00000000;
    border: none;
    margin: 0 50px; }
    .buttons-row a:focus {
      outline: 0; }
  .buttons-row img {
    padding: 10px;
    transition: 0.15s; }
    .buttons-row img:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      cursor: pointer; }
