.header {
  height: 500px;
  overflow: hidden; }
  .header img {
    width: 100%; }

@media screen and (max-width: 1200px) {
  .header {
    height: 450px; } }

@media screen and (max-width: 900px) {
  .header {
    height: 350px; } }

@media screen and (max-width: 600px) {
  .header {
    height: 350px; } }

h2 {
  text-align: center;
  width: 100%;
  margin: 3rem 0; }

.loader-container {
  top: 38vh;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%; }
  .loader-container .loader {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px; }
    .loader-container .loader div {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #000;
      animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    .loader-container .loader div:nth-child(1) {
      left: 6px;
      animation: loader1 0.6s infinite; }
    .loader-container .loader div:nth-child(2) {
      left: 6px;
      animation: loader2 0.6s infinite; }
    .loader-container .loader div:nth-child(3) {
      left: 26px;
      animation: loader2 0.6s infinite; }
    .loader-container .loader div:nth-child(4) {
      left: 45px;
      animation: loader3 0.6s infinite; }

@keyframes loader1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes loader3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes loader2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.loader-new {
  top: 38vh;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%; }
  .loader-new .loader {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px; }
    .loader-new .loader div:nth-child(1) {
      position: absolute;
      margin: 15px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background: #e8676b;
      animation: loading 1.5s infinite sine;
      z-index: 3; }

@keyframes loading {
  0% {
    transform: scale(1.1, 0.9) translateY(-10px); }
  50% {
    transform: scale(0.9, 1.1) translateY(10px); }
  100% {
    transform: scale(1.1, 0.9) translateY(-10px); } }

.card {
  width: 900px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 200px;
  background-color: #fbfbfb;
  box-sizing: border-box;
  box-shadow: 0 0 7px 0 #000;
  padding-bottom: 200px;
  padding-top: 200px; }
  .card .upper img {
    position: absolute;
    margin: auto;
    margin-top: 25px;
    top: 0;
    bottom: 0;
    left: 25px;
    border: 1px solid #6662; }
  .card .upper .card-info {
    position: absolute;
    width: 400px;
    margin: auto;
    height: 300px;
    left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 20px; }
    .card .upper .card-info span {
      display: flex;
      justify-content: flex-start; }
      .card .upper .card-info span div {
        font-weight: 700;
        width: 150px;
        min-width: 150px; }

@media screen and (max-width: 1200px) {
  .card {
    width: 78%; }
    .card .upper .card-info {
      left: 48%;
      width: 320px;
      margin-left: -15px; }
      .card .upper .card-info span div {
        width: 130px;
        min-width: 130px; } }

@media screen and (max-width: 900px) {
  .card {
    padding-top: 13vw; }
    .card .upper .card-info {
      height: 215px;
      left: 52%;
      width: 170px;
      font-size: 0.8rem;
      top: 22px; }
      .card .upper .card-info span {
        flex-direction: column; }
        .card .upper .card-info span div {
          width: 26%;
          min-width: 26%; } }

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
    padding-top: 105vw;
    top: 130px; }
    .card .upper .card-info {
      bottom: -55vw;
      margin: auto;
      font-size: 0.9rem;
      height: 66vw;
      justify-content: space-evenly;
      left: -15%;
      right: 0;
      width: 50vw; }
    .card .upper img {
      left: 0;
      right: 0;
      width: 82%;
      height: auto; } }

.contact {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact .contact-card {
    width: 60%;
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 7px 0px #888; }
    .contact .contact-card span:first-child {
      font-size: 1.5rem; }
    .contact .contact-card a {
      color: #464b54;
      text-decoration: none;
      border-bottom: 1px solid #e8676b;
      transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1); }
      .contact .contact-card a:hover {
        background-color: #e8676b; }

@media screen and (max-width: 600px) {
  .contact .contact-card {
    width: 70%; } }

.footer {
  width: 90%;
  padding: 10px 5%;
  height: 140px;
  margin-top: 100px;
  background-color: #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  flex-direction: column;
  color: #555; }
  .footer cite {
    color: #999;
    margin-top: 20px; }
  .footer p {
    margin: 20px 0 0 0;
    font-size: 0.6rem;
    color: #999; }

@media screen and (max-height: 600px) {
  .footer {
    margin-top: 50px; } }

.menu {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  transition: 0.5s; }
  .menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    height: 100%; }
    .menu ul .menu-button {
      color: white;
      margin: auto;
      transition: color 0.2s linear;
      border-bottom: 2px solid rgba(232, 103, 107, 0);
      transition: 0.2s; }
      .menu ul .menu-button:hover {
        cursor: pointer;
        border-bottom: 2px solid #e8676b; }
  .menu ul:nth-child(2) {
    width: 100px; }
    .menu ul:nth-child(2) li {
      width: 45px;
      margin: auto 10px; }
      .menu ul:nth-child(2) li:hover {
        cursor: pointer; }
      .menu ul:nth-child(2) li img {
        padding-bottom: 5px;
        border-bottom: 4px solid rgba(0, 0, 0, 0); }
        .menu ul:nth-child(2) li img.active {
          border-color: #e8676b; }
  .menu.scrolled-down {
    transition: 0.5s;
    background-color: white;
    box-shadow: 0 0 7px 0px #000; }
    .menu.scrolled-down ul .menu-button {
      color: black; }
    .menu.scrolled-down ul:nth-child(2) li img.active {
      transition: 0.5s;
      border-color: black; }

.burger-button {
  visibility: hidden;
  height: 50px;
  width: 60px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  transition: 0.5s;
  background-color: #464b54;
  border-radius: 3px; }
  .burger-button:after {
    content: "";
    border: 2.5px solid black;
    background-color: black;
    border-top: unset;
    border-bottom: unset;
    position: absolute;
    height: 25px;
    transform: rotateZ(90deg) translateX(21px) translateY(-28px);
    transition: 0.3s; }
  .burger-button.open {
    background-color: #737a88; }
  .burger-button.open:after {
    height: 29px;
    transform: rotateZ(45deg) translateX(26px) translateY(-12px); }
  .burger-button:before {
    content: "";
    border: 5px solid black;
    width: 3px;
    border-top: unset;
    border-bottom: unset;
    position: absolute;
    height: 25px;
    transform: rotateZ(90deg) translateX(9px) translateY(-24px);
    transition: 0.3s; }
  .burger-button.open:before {
    width: 0;
    border: 2.5px solid black;
    transform: rotateZ(135deg) translateX(-12px) translateY(-26px); }

.burger-menu {
  visibility: hidden;
  height: 100%;
  width: 70%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  transition: 0.5s;
  background: #616770;
  background: linear-gradient(90deg, #616770 0%, #464b54 100%);
  flex-direction: column;
  transition: 0.4s;
  transform: translateX(100%); }
  .burger-menu.open {
    transform: translateX(0);
    box-shadow: 0 0 7px 0px #000; }
  .burger-menu ul {
    margin-top: 150px;
    list-style: none;
    color: white;
    font-size: 1.4rem;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20%; }
    .burger-menu ul li {
      border-bottom: 2px solid #e8676b; }
  .burger-menu ul:nth-child(2) {
    height: 100px;
    margin-top: 30px;
    flex-direction: row; }
    .burger-menu ul:nth-child(2) li {
      width: 45px;
      margin: auto 10px;
      border-bottom: unset; }
      .burger-menu ul:nth-child(2) li:hover {
        cursor: pointer; }
      .burger-menu ul:nth-child(2) li img {
        padding-bottom: 5px;
        border-bottom: 4px solid rgba(0, 0, 0, 0); }
        .burger-menu ul:nth-child(2) li img.active {
          border-color: #e8676b; }

@media screen and (max-width: 600px) {
  .menu {
    visibility: hidden; }
  .burger-menu {
    visibility: visible; }
  .burger-button {
    visibility: visible; } }

.general-button {
  width: 250px;
  height: 70px;
  background: #fbfbfb;
  border: 1px solid #bbb;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 150px auto 0 auto;
  background-color: #eee; }
  .general-button button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0; }
    .general-button button:focus {
      outline: 0; }
    .general-button button:hover {
      box-shadow: -2px 2px 10px #9b9b9b !important;
      cursor: pointer; }
  .general-button span {
    font-weight: 500;
    font-size: 1rem; }

@media screen and (max-width: 1200px) {
  .general-button {
    margin-top: 200px; } }

@media screen and (max-width: 600px) {
  .general-button {
    margin-top: 110vw; } }

.skills {
  width: 580px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .skills .skill-item {
    width: 250px;
    min-width: 250px;
    height: 250px;
    min-height: 250px;
    border: 1px solid #b7b7b7;
    background-color: white;
    padding: 10px 10px 30px 10px;
    margin: 15px 0;
    box-shadow: 0 0 7px 0px #888; }
    .skills .skill-item span {
      font-weight: 700;
      color: #464b54;
      top: unset;
      bottom: 10px;
      left: 0;
      text-align: center;
      width: 100%;
      position: absolute; }
    .skills .skill-item:hover {
      border: 1px solid #e8676b; }
    .skills .skill-item #needs-help {
      width: 250px;
      min-width: 250px;
      height: 250px;
      min-height: 250px; }

@media screen and (max-width: 600px) {
  .skills {
    width: 96%;
    max-width: 400px;
    justify-content: space-around; }
    .skills .skill-item {
      min-width: 125px;
      max-width: 150px;
      min-height: 125px;
      max-height: 150px;
      margin: 8px 0; }
      .skills .skill-item #needs-help {
        min-width: 125px;
        max-width: 150px;
        min-height: 125px;
        max-height: 150px; } }

.timeline-holder {
  display: flex;
  justify-content: flex-start;
  padding: 0 50%; }
  .timeline-holder .timeline {
    width: 2px;
    background-color: #b7b7b7;
    margin-left: -220px; }
    .timeline-holder .timeline::before {
      content: '';
      position: relative;
      border-color: #b7b7b7;
      border-style: solid;
      border-width: 2px 0 0 2px;
      height: 8px;
      width: 8px;
      top: -5px;
      left: -4px;
      margin-top: -1em;
      transform: rotate(45deg);
      display: inline-block; }
    .timeline-holder .timeline .timeline-element {
      opacity: 0;
      margin-bottom: 60px;
      width: 400px;
      height: 260px;
      background-color: white;
      margin-left: 30px;
      box-shadow: 0 0 7px 0px #888; }
      .timeline-holder .timeline .timeline-element.inview {
        animation: fadein 0.7s;
        opacity: 1; }
      .timeline-holder .timeline .timeline-element .timeline-header-dot {
        opacity: 0;
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: #999;
        border-radius: 13px;
        margin-left: -42px;
        margin-top: 27px;
        border: 8px solid #eee; }
        .timeline-holder .timeline .timeline-element .timeline-header-dot.inview {
          animation: fadeinInverse 0.7s;
          opacity: 1; }
      .timeline-holder .timeline .timeline-element .timeline-header-tag {
        width: 16px;
        height: 16px;
        position: absolute;
        margin-top: 32px;
        margin-left: -8px;
        background-color: #e8676b;
        transform: rotateZ(45deg);
        box-shadow: -1px 1px 3px 1px #c3c3c3; }
      .timeline-holder .timeline .timeline-element:nth-child(2n - 1) .timeline-header-tag {
        background-color: #464b54; }
      .timeline-holder .timeline .timeline-element:nth-child(2n - 1) .timeline-header {
        background-color: #464b54;
        color: #eee; }
      .timeline-holder .timeline .timeline-element .timeline-header {
        text-align: center;
        position: absolute;
        height: 80px;
        width: inherit;
        background-color: #e8676b;
        display: flex; }
        .timeline-holder .timeline .timeline-element .timeline-header .image-holder {
          flex-basis: 30%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .timeline-holder .timeline .timeline-element .timeline-header .image-holder img {
            width: 35%;
            height: auto;
            display: block;
            margin: auto; }
        .timeline-holder .timeline .timeline-element .timeline-header h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          height: inherit; }
          .timeline-holder .timeline .timeline-element .timeline-header h3 span {
            font-weight: 400;
            padding-right: 10px; }
      .timeline-holder .timeline .timeline-element .timeline-content {
        position: absolute;
        margin-top: 80px;
        height: 152px;
        padding: 14px;
        width: 372px;
        font-size: 15px; }
        .timeline-holder .timeline .timeline-element .timeline-content a {
          text-decoration: none;
          color: #464b54;
          font-weight: 700; }
    .timeline-holder .timeline .timeline-end {
      background-image: linear-gradient(#eee 33%, rgba(255, 255, 255, 0) 0%);
      background-position: right;
      background-size: 2px 20px;
      background-repeat: repeat-y;
      height: 100px; }

@keyframes fadein {
  0% {
    transform: translateX(50px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeinInverse {
  0% {
    transform: translateX(-50px);
    opacity: 1; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@media screen and (max-width: 600px) {
  .timeline-holder {
    margin: auto; }
    .timeline-holder .timeline {
      margin-left: -140px; }
      .timeline-holder .timeline .timeline-element {
        width: 260px;
        height: 300px;
        margin-bottom: 30px; }
        .timeline-holder .timeline .timeline-element .timeline-header {
          height: 60px; }
          .timeline-holder .timeline .timeline-element .timeline-header h3 {
            font-size: 1rem; }
          .timeline-holder .timeline .timeline-element .timeline-header .image-holder {
            flex-basis: 25%; }
            .timeline-holder .timeline .timeline-element .timeline-header .image-holder img {
              width: 45%; }
        .timeline-holder .timeline .timeline-element .timeline-content {
          margin-top: 60px;
          width: 240px;
          padding: 10px;
          height: 170px; } }

.buttons-row {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #e8676b;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .buttons-row a {
    background-color: #00000000;
    border: none;
    margin: 0 50px; }
    .buttons-row a:focus {
      outline: 0; }
  .buttons-row img {
    padding: 10px;
    transition: 0.15s; }
    .buttons-row img:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      cursor: pointer; }

@media screen and (max-width: 1200px) {
  .buttons-row {
    height: 70px; } }

@media screen and (max-width: 900px) {
  .buttons-row {
    height: 55px; } }

@media screen and (max-width: 600px) {
  .buttons-row a {
    margin: 0 20px; } }
