.skills {
  width: 580px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .skill-item {
    width: 250px;
    min-width: 250px;
    height: 250px;
    min-height: 250px;
    border: 1px solid #b7b7b7;
    background-color: white;
    padding: 10px 10px 30px 10px;
    margin: 15px 0;
    box-shadow: 0 0 7px 0px #888;

    span {
      font-weight: 700;
      color: #464b54;
      top: unset;
      bottom: 10px;
      left: 0;
      text-align: center;
      width: 100%;
      position: absolute;
    }

    &:hover {
      border: 1px solid #e8676b;
    }
    #needs-help {
      width: 250px;
      min-width: 250px;
      height: 250px;
      min-height: 250px;
    }
  }
}

@media screen and (max-width: 600px) {
  .skills {
    width: 96%;
    max-width: 400px;
    justify-content: space-around;
    .skill-item {
      min-width: 125px;
      max-width: 150px;
      min-height: 125px;
      max-height: 150px;
      margin: 8px 0;
      #needs-help {
        min-width: 125px;
        max-width: 150px;
        min-height: 125px;
        max-height: 150px;
      }
    }
  }
}
