.card {
  width: 900px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 200px;
  background-color: #fbfbfb;
  box-sizing: border-box;
  box-shadow: 0 0 7px 0 #000;
  padding-bottom: 200px;
  padding-top: 200px;

  .upper {
      img {
      position: absolute;
      margin: auto;
      margin-top: 25px;
      top: 0;
      bottom: 0;
      left: 25px;
      border: 1px solid #6662;
    }

    .card-info {
      position: absolute;
      width: 400px;
      margin: auto;
      height: 300px;
      left: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      top: 20px;

      span {
        display: flex;
        justify-content: flex-start;

        div {
          font-weight: 700;
          width: 150px;
          min-width: 150px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 78%;

    .upper .card-info {
      left: 48%;
      width: 320px;
      margin-left: -15px;

      span {
        div {
          width: 130px;
          min-width: 130px;
        }
      } 
    }
  }
}

@media screen and (max-width: 900px) {
  .card {
    padding-top: 13vw;

    .upper .card-info {
      height: 215px;
      left: 52%;
      width: 170px;
      font-size: 0.8rem;
      top: 22px;

      span {
        flex-direction: column;

        div {
          width: 26%;
          min-width: 26%;
        }
      }
    } 
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
    padding-top: 105vw;
    top: 130px;

    .upper {
      .card-info {
        bottom: -55vw;
        margin: auto;
        font-size: 0.9rem;
        height: 66vw;
        justify-content: space-evenly;
        left: -15%;
        right: 0;
        width: 50vw;
      }
      
      img {
        left: 0;
        right: 0;
        width: 82%;
        height: auto;
      }
    }
  }
}
