.contact {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact-card {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 7px 0px #888;
    
    span:first-child {
      font-size: 1.5rem;
    }
    a {
      color: #464b54;
      text-decoration: none;
      border-bottom: 1px solid #e8676b;
      transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
      &:hover {
        background-color: #e8676b;
      }
    }
  }
}