.footer {
  width: 90%;
  padding: 10px 5%;
  height: 140px;
  margin-top: 100px;
  background-color: #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  flex-direction: column;
  color: #555;

  cite {
    color: #999;
    margin-top: 5px;
  }
  
  p {
    margin: 20px 0 0 0;
    font-size: 0.6rem;
    color: #999;
  }
}

@media screen and (max-height: 600px) {
  .footer {
    margin-top: 50px;
  }
}